<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>DnD</title>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/js-skeleton/3.6.3/skeleton.min.js"></script> -->
        <link rel="stylesheet" href="dnd.css" />
    </head>

    <body>
        <div id="apps">
            <div class="button-c">
                <button
                    class="cybr-btn"
                    v-if="showAll"
                    v-on:click="limit = basicLimit; showAll = false;"
                >
                    Show less
                </button>
                <button
                    class="cybr-btn"
                    v-else
                    v-on:click="limit += basicLimit;"
                >
                    Show more
                </button>
                <button
                    class="cybr-btn"
                    v-on:click="limit = null; showAll = true"
                >
                    Show all
                </button>
            </div>
            <div class="spells-container">
                <template v-for="(spell,index) in dndSpellListLimit">
                    <div class="spell-container">
                        <a :href="preUrl + spell.url">
                            <h3>{{ spell.name }}</h3>
                        </a>
                        <div v-if="ready" class="detail-container">
                            <div class="line">
                                <p>School:</p>
                                <p>{{ spell.school.name }}</p>
                            </div>
                            <div class="line">
                                <p>Components:</p>
                                <p>{{ spell.components.join() }}</p>
                            </div>
                            <div class="line">
                                <p>Level:</p>
                                <p>{{ spell.level }}</p>
                            </div>
                            <div class="line dsc">
                                <p>Description:</p>
                                <p>{{ computedDSC(spell.desc,35) }} ...</p>
                            </div>
                            <img class="float ritual" v-if="spell.ritual" src="ritual.png">
                                
                            </img>
                            <img class="float concentration" v-if="spell.concentration" src="concentration.png">
                                
                            </img>

                        </div>
                        <div v-else class="detail-container">
                            <div class="line">
                                <p>School:</p>
                                <p class="skeleton sk-40"></p>
                            </div>
                            <div class="line">
                                <p>Components:</p>
                                <p class="skeleton sk-20"></p>
                            </div>
                            <div class="line">
                                <p>Level:</p>
                                <p class="skeleton sk-10"></p>
                            </div>
                            <div class="line dsc">
                                <p>Description:</p>
                                <p class="skeleton sk-100"></p>
                                <p class="skeleton sk-100"></p>
                                <p class="skeleton sk-100"></p>
                                <p class="skeleton sk-40"></p>
                            </div>
                        </div>
                    </div>
                </template>
            </div>
        </div>

        <script src="app.js"></script>
    </body>
</html>
